* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    width: 100vw;
    background-color: #06090E;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.barra-upgrade {
    float: right;
    position: fixed;
}

.sidebar {
    height: 900px;
    width: 200px;
    background-color: #000000;
    float: left;
    position: fixed;
}

.contenuto {
    height: calc(100vh - 100px);
    width: calc(100vw - 200px);
    background-color: #10141B;
    float: right;
    overflow: scroll;
}

.base-flex {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    position: fixed;
}

/* **************************
*******SCHEMA A BLOCCHI******* */

.upgrade {
    color: white;
    background-color: #06090E;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 12px;
    padding: 10px 20px;
    margin-left: 83rem;
    margin-top: 25px;
    width: 200px;
    text-align: center;
}

.img-logo {
    height: 50px;
    width: 120px;
}

.left-elements {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
}

.down-elements {
    margin-left: 20px;
}

.sidebar {
    overflow: hidden;
    height: 100%;
}

/* ************************
*******SIDEBAR************* */

.left {
    width: 20%;
    height: 100px;
    position: relative;
}

.center {
    width: 40%;
    height: 100px;
    position: relative;
}

.right {
    width: 20%;
    height: 100px;
    position: relative;
}

.barra-canzone {
    width: 460px;
    height: 5px;
    background-color: gray;
    float: right;
    margin-right: 7rem;
    margin-top: -10px;
}

.barra-canzone2 {
    width: 140px;
    height: 5px;
    background-color: gray;
    float: right;
    margin-top: 52px;
    margin-right: 3rem;
}

/************ /footer ****************/

.contenitore-canzoni1-flex {
    margin-top: 2rem;
    margin-left: 1rem;
    height: 400px;
    width: 1290px;
    display: flex;
}

.contenitore-canzoni2-flex {
    margin-top: 2rem;
    margin-left: 1rem;
    height: 400px;
    width: 1290px;
    display: flex;
}

.contenitore-canzoni3-flex {
    margin-top: 2rem;
    margin-left: 1rem;
    height: 400px;
    width: 1290px;
    display: flex;
}

.recently-played {
    color: white;
    font-size: 25px;
}

.suggerimenti {
    color: white;
    font-size: 25px;
}

/********************
******** /main **********/

p:hover, i:hover, img:hover {
    cursor: pointer;
}

img:hover {
    opacity: 60%;
}

/* /effetti */

@media screen and (max-width: 768px) {
    .contenitore-canzoni1-flex, .contenitore-canzoni2-flex, .contenitore-canzoni3-flex {
        width: calc(100% / 6);
        display: flex;
    }
}